@font-face {
    font-family: 'pokemon';
    src: url('../fonts/pokemon_solid.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
    overflow-y: hidden;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    min-height: 100vh;
    background-color: red;
    font-family: 'pokemon', sans-serif;
    color: #ffcc03;
    text-transform: capitalize;
    text-shadow: 
        -2px -2px 0 #006caf,
        2px -2px 0 #006caf,
        -2px 2px 0 #006caf,
        2px 2px 0 #006caf;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

header img {
    width: 300px;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* GAME AREA */

#game-screen {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
}

.pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
}

#pokemon-image {
    width: 170px;
    height: auto;
}

#pokemon-name {
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0;
}

.indicators {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: 0 200px;
    position: relative;
}

.indicators p:first-child {
    position: absolute;
    left: 0;
}

.indicators p:last-child {
    position: absolute;
    right: 0;
}

#answer-indicator {
    height: 25px;
    text-align: center;
    min-width: 100px;
    padding: 5px;
    white-space: nowrap;
}

.score-time {
    flex-shrink: 0;
    font-size: 1.2rem;
    padding: 0 15px;
}

#answer-area {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    padding: 0;

}

#type-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 8px;
    margin-bottom: -10px;
}

.type-btn {
    width: 90px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.type-btn.pressed {
    transform: scale(0.9);
    transition: transform 0.1s ease;
}

.type-icon {
    max-width: 100%;
    height: auto;
}

#nxtqst-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

#next-question {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

#next-img {
    max-width: 100%;
    height: auto;
    padding: 0 15px;
}

.pokeball-icon {
    width: 15px;
    height: auto;
}

/* START AREA */

#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-pokemon-image {
    width: 220px;
    height: auto;
}

#start-screen p {
    text-align: center;
    font-size: 2rem;
}

#start-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#start-btn img {
    width: 80%;
    height: auto;
    padding: 20px;
}

/* SCORE AREA */

#score-screen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: #ffcc03;
    text-align: center;
}

#score-screen h1 {
    font-size: 3rem;
    margin: 60px 0 20px;
}

#final-score {
    font-size: 3rem;
    font-weight: bold;
}

#restart-btn {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#restart-button img {
    width: 60%;
    height: auto;
}
