@font-face {
    font-family: 'pokemon';
    src: url('../fonts/pokemon_solid.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: red;
    font-family: 'pokemon', sans-serif;
    color: #ffcc03;
    text-transform: capitalize;
    text-shadow: 
    -2px -2px 0 #006caf,
    2px -2px 0 #006caf,
    -2px 2px 0 #006caf,
    2px 2px 0 #006caf;
    font-family: 'pokemon', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: space-evenly;
}

.pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

#pokemon-image {
    width: 170px;
    height: auto;
}

#pokemon-name {

    font-size: 1.5rem;

}

#logo-header {
    max-width: 300px;
}

#type-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.type-btn {
    width: 75px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.type-btn.pressed {
    transform: scale(0.9);
    transition: transform 0.1s ease;
}

.type-icon {
    max-width: 100%;
    height: auto;
}

#next-question {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    background-color: transparent;
    cursor: pointer;
    border: none;

}

#next-img {
    max-width: 100%;
    height: auto;
}

footer {
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    padding: 0px 10px;
}

.pokeball-icon {
    width: 15px;
    height: auto;
}
